.mainDiv{
  display: grid;

  grid-template-rows: 15vh 80vh 5vh;
  grid-template-areas:
  "header"
  "main"
  "footer";
}


.header{
  grid-area: header;
  background: black;
  color: white;
  font-size: 30px;
  padding-left: 40px;
}


.main{
  grid-area: main;
  padding: 40px;
}


.footer{
  grid-area: footer;
}


.myBtn{
  margin-left: 40px;
  width: 125px;
  height: 40px;
  font-size: 30px;
  border-radius: 4px;
}
.myBtn:hover{
  background: green;
}

.clearBtn{
  margin-left: 40px;
  width: 125px;
  height: 40px;
  font-size: 30px;
  border-radius: 4px;
}
.clearBtn:hover{
  background: red;
}


.shifred{
  padding: 40px;
  font-size: 27px;
  color: black;
}